<div class="container">
    <table class="table table-bordered table-striped">

        <thead>
            <tr>
                <th>Order ID</th>
                <th>Total Price</th>
                <th>Order Date</th>
                <th>User ID</th>
                <th>UserName</th>
                <th>Address</th>
                <th>Mobile Number</th>

            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let ord of orders">


                <td>{{ord.orderId}}</td>
                <td>{{ord.totalPrice}}</td>
                <td>{{ord.orderDate}}</td>
                <td>{{ord.user.userId}}</td>
                <td>{{ord.user.userName}}</td>
                <td>{{ord.user.address}}</td>
                <td>{{ord.user.mobileNumber}}</td>


            </tr>

        </tbody>


    </table>

    <div class="container">

        <button class="btn btn-primary" (click)="goBack()">Go back to home</button>
    </div>

</div>