<div class="container">

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>User ID</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Mobile Number</th>

            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let u of us">
                <td>{{u.userId}}</td>
                <td> {{u.userName}}</td>
                <td> {{u.email}}</td>
                <td>{{u.address}}</td>
                <td>{{u.mobileNumber}}</td>

            </tr>
        </tbody>

    </table>
    <div class="container">

        <button class="btn btn-primary" (click)="goBack()">Go back to home</button>
    </div>

</div>