<h1>Orders History Page</h1>

<div class="container">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Quantity Ordered</th>
                <th>Food ID</th>
                <th>Food Name</th>
                <th>Food Price</th>
                <th>Cuisine Name</th>
                <th>Order Date</th>

            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let oi of ordItems">

                <td>{{oi.orderedItemId}}</td>
                <td>{{oi.quantityOrdered}}</td>
                <td>{{oi.foodItem.foodId}}</td>
                <td>{{oi.foodItem.foodName}}</td>
                <td>{{oi.foodItem.foodPrice}}</td>
                <td>{{oi.foodItem.cuisine.cuisineName}}</td>
                <td>{{oi.orders.orderDate}}</td>


            </tr>

        </tbody>


    </table>

    <div class="container">

        <button class="btn btn-primary" (click)="goBack()">Go back to home</button>
    </div>

</div>