<h1> Admin Home page</h1>
<a routerLink="/admin-logout">Logout</a><br>
<a routerLink="/admin-add-cuisine">Add Cuisine</a><br>
<a routerLink="/admin-view-registered-customers">View Registered Customers</a><br>
<a routerLink="/admin-cuisines-list">View Cuisines List</a><br>
<a routerLink="/admin-add-food">Add Food</a><br>
<a routerLink="/admin-view-orders">View Orders</a><br>
<a routerLink="/admin-view-ordered-items">View Ordered Items</a><br>
<a routerLink="/admin-list-foods">View Food Items</a><br>

<!-- 
<div class="row">
    <div class="col-sm-2">
        <img [src]="imgPath" class="img-fluid">
    </div>
</div>


-->